@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: max-content;
}

.header-message {
    background-color: #181818;
    width: 100%;
    padding: 8px;
}

.header-message p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    color: #f9f9f9;
    text-align: center;
}

.header-title {
    background-color: #f9f9f9;
    width: 100%;
    padding: 8px;
}

.header-title h3{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #181818;
    text-align: center;
}

.header-banner {
    position: relative;
}

.header-banner img{
    width: 100vw;
    position: absolute;
}

.header-banner-mask {
    position: absolute;
    z-index: 1;
}

.header-banner figcaption{
    position: absolute;
    z-index: 3;
    top: 145px;
    left: 60px;
    color: #f9f9f9;
}

.header-banner figcaption h2{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}

.header-banner figcaption p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 360;
    font-size: 14px;
    line-height: 32px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
    top: 358px;
/*     background-color: red;
    height: 500px;   */
}

.section-primary {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    padding: 84px;
}

.section-primary h2{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.section-primary p{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

.section-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-box-primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.section-box-secondary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 84px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    background-color: #EBE9EA;
}

.footer {
    position: relative;
    top: 358px;
    background-color: #181818;
    flex-shrink: 0;
    padding: 8px;
}

.footer p{
    font-family: 'Montserrat', serif;
    font-size: 12px;
    font-style: normal;
    color: #EBE9EA;
    text-align: center;
}





